In [1]:
import sqlite3
import pandas as pd

In [15]:
# Create the connection
conn = sqlite3.connect(r'database.sqlite')

# create the dataframe from a query
df = pd.read_sql_query("select reviews.reviewid, title, artist, url, score, best_new_music, pub_year, genre, content, label \
                        from reviews \
                        left join genres on reviews.reviewid = genres.reviewid \
                        left join content on reviews.reviewid = content.reviewid \
                        left join labels on reviews.reviewid = labels.reviewid \
                        where artist = 'massive attack' ", conn)

In [16]:
df

,reviewid,title,artist,url,score,best_new_music,pub_year,genre,content,label
0,22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,2017,electronic,"“Trip-hop” eventually became a ’90s punchline,...",virgin
1,21553,ritual spirit ep,massive attack,http://pitchfork.com/reviews/albums/21553-ritu...,7.0,0,2016,electronic,Massive Attack made not one but three of the d...,emi
2,21553,ritual spirit ep,massive attack,http://pitchfork.com/reviews/albums/21553-ritu...,7.0,0,2016,electronic,Massive Attack made not one but three of the d...,virgin
3,17384,blue lines,massive attack,http://pitchfork.com/reviews/albums/17384-blue...,9.0,1,2012,electronic,"Listening to Massive Attack's debut album, Blu...",emi
4,14881,atlas air ep,massive attack,http://pitchfork.com/reviews/albums/14881-atla...,5.0,0,2010,electronic,Unlike their Bristol contemporaries-- Tricky w...,vinyl factory
5,14881,atlas air ep,massive attack,http://pitchfork.com/reviews/albums/14881-atla...,5.0,0,2010,electronic,Unlike their Bristol contemporaries-- Tricky w...,virgin
6,13864,heligoland,massive attack,http://pitchfork.com/reviews/albums/13864-heli...,5.0,0,2010,electronic,"For their first three albums, you could count ...",virgin
7,13574,splitting the atom,massive attack,http://pitchfork.com/reviews/albums/13574-spli...,4.4,0,2009,electronic,"In a recent interview, Massive Attack's Daddy ...",virgin
8,5137,collected,massive attack,http://pitchfork.com/reviews/albums/5137-colle...,8.3,0,2006,electronic,The first time I flew from Syracuse to Baltimo...,emi
9,5136,danny the dog ost,massive attack,http://pitchfork.com/reviews/albums/5136-danny...,3.0,0,2004,electronic,Some folks will tell you that the English Chan...,virgin

In [9]:
df_1 = pd.read_sql_query("select count(distinct artist) from reviews", conn)
df_1

   count(distinct artist)
0                    8715

In [10]:
df_2 = pd.read_sql_query("select count (distinct genre) from genres", conn)
df_2

   count (distinct genre)
0                       9